# Google Gemini & Imagen API Key (Get from Google AI Studio: https://aistudio.google.com/)
GEMINI_API_KEY=AAQ.Ab8RN6L_-rpTKKm36kCsToYNYsB1LyQsZc0v3OZeaQgg7GJ11w


# Application Server Port (Default: 3000)
PORT=3000
